<!--No es buena practica pero solo por esta vez-->
<h1 style="text-align: center;font-family: monospace;">Briyan > <strong>Dev</strong></h1>
<!--El verdadero cuerpo-->
<main>
  <div *ngIf="respuesta === '';else showResult" class="display">
    <span *ngIf="previsualizacion.length>0">{{previsualizacion}}</span>
    <p *ngIf="cadNumero != ''; else zero">{{cadNumero}}</p>
    <ng-template #zero><p>0</p></ng-template>
  </div>
  <ng-template #showResult>
    <div class="display">
      <p>{{respuesta}}</p>
    </div>
  </ng-template>
  <div class="components">
    <div>
      <button (click)="limpiar()">AC</button>
      <button disabled>+/-</button>
      <button (click)="porcentaje()">%</button>
      <button (click)="dividir()">÷</button>
    </div>
    <div>
      <button (click)="agrupar('1')">1</button>
      <button (click)="agrupar('2')">2</button>
      <button (click)="agrupar('3')">3</button>
      <button (click)="multiplicar()">x</button>
    </div>
    <div>
      <button (click)="agrupar('4')">4</button>
      <button (click)="agrupar('5')">5</button>
      <button (click)="agrupar('6')">6</button>
      <button (click)="restar()">-</button>
    </div>
    <div>
      <button (click)="agrupar('7')">7</button>
      <button (click)="agrupar('8')">8</button>
      <button (click)="agrupar('9')">9</button>
      <button (click)="sumar()">+</button>
    </div>
    <div>
      <button (click)="agrupar('0')" style="width: 127px;">0</button>
      <button (click)="agrupar('.')">.</button>
      <button (click)="resultado()">=</button>
    </div>  
  </div>
</main>